*{
    font-family: "Times New Roman", Times, serif;
}
.section{
    height:730px;
    width: 100%;
}
.sectionHome{
  
}
.sectionPastFuture{
    opacity: 0.5;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sectionSubscribe{
    opacity: 0.5;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sectionAboutUs{

}
.sectionContactUs{
  
}

/* for navabar */
.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
    background: rgb(1, 2, 39);
    color: #fff;
}
nav > ul > li > a{
    color: white;
    /* color: #262626; */
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
}
nav.black > ul > li > a{
    color: #fff;
    line-height: 60px;
}


@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #262626;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #262626;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #262626;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}
/* sections */
#Home{
    height: 100vh;
    /* background-image: url("/images/ImageHome.jpg");
    background-size: cover; */
}
.outmostDiv{
    background-image: url("/images/backgroundImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}
